<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Menu-mapper">
	<select id="selectMajorMenu" resultType="menu">
		select
		parenturl, menucomment
		from menu
		where depth =0
	</select>
	<select id="selectSubMenu" parameterType="menu" resultType="menu">
		select
		m1.childurl,
		m1.menucomment
		from menu m1
		where m1.childurl like '%/list'
		start with m1.parenturl=#{parenturl}
		connect by m1.childurl =prior m1.parenturl
	</select>
</mapper>